{% extends "base.html" %}

{% load static %}

{% block contenidoquecambia1 %}
    <h2 class="display-5">A eliminar</h2>

{% endblock %}

{% block contenidoquecambia2 %}
    <h2 class="display-5">A eliminar</h2>
{% endblock %}

{% block contenidoquecambia3 %}
    <h2 class="display-5">Formulario</h2>

    <form action="/contacto/" method = "POST">

        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Apellido: <input type="text" name="nombre"></p>
        <p>Consulta: <input type="text" name="nombre" style="width : 300px; height: 100px; "></p>


        <input type="submit" value="Enviar">
    </form>
{% endblock %}